<h1>LOG IN </h1>

<font color="blue">
<h2>
<% if flash.has?(:alert) %>
<%= flash[:alert] %>
<% end %>
</h2>

<form action="/login" method="post">

<label for="username">USERNAME: </label>

<input type="text" name="name" placeholder ="username" id="username"><br>

<label for="password">PASSWORD: </label>

<input type="password" name="password" placeholder ="password" id="password"><br>

<input type="submit" value="LOG IN" id="submit">

</font>

</form>

<p>Or visit <a href="/signup">SIGN UP</a> page</p>
 <p> Or go back to <a href="/">HOME</a> page </p>