<h1>LOG IN </h1>

<h2>
<font color="red">
<p style="font-size:16px">
<% if flash.has?(:alert) %>
<%= flash[:alert] %>
<% end %>
</p>
</font>
</h2>

<font color="grey">
<form action="/login" method="post">

<label for="username">USERNAME: </label>

<input type="text" name="name" placeholder ="username" id="username"><br>

<label for="password">PASSWORD: </label>

<input type="password" name="password" placeholder ="password" id="password"><br>

<input type="submit" value="LOG IN" id="submit">

</font>

</form>
<br/>
<p>Or visit <a href="/signup">SIGN UP</a> page</p>
 <p> Or go back to <a href="/">HOME</a> page </p>