

<body>
  <h1>BOOKS </h1>
  <h2> WELCOME:
    <%=current_user.name.capitalize %>
    </h2>

  <%@books.each do |book|%>
  <li><br><a href="/books/<%=book.id%>"><%= book.name %></a></li> 
  <% end %>
  <br/>
  <br/>
  <div>

    <% if logged_in? %>
    <a href="/books/new">ADD A BOOK</a>
    <% end %>
  </div>
  <br>
  <a href="/logout">LOG OUT</a>
</body>