<body>
 <h1> Add a Book </h1>
<form action="/books" method="post">
  <lable for="POST-name">Book Title:</lable>
  <input id="POST-name" type="text" name="book_name">
  <lable for="POST-name">Book Author:</lable>
  <input id="POST-name" type="text" name="book_author">
  <lable for="POST-name">Book Genre:</lable>
  <input id="POST-name" type="text" name="book_genre">
  <input type="submit" value="Add a Book">
  </form>

<p> <a href="/">Home</a> </p>
<a href="/logout">Log out</a>
</body>