<!DOCTYPE html>
  <html>
  <style>
    h1 {text-align:center;}
    </style>

    <h1><%=@review.book.name %></h1>
    <h2>
  <% if flash.has?(:alert) %>
  <%= flash[:alert] %>
 <% end %>
  </h2>
<h3> EDIT REVIEW</h3>

<p>
<form action="/reviews/<%=@review.id%>/edit" method="POST">
<textarea name="content" rows=
"9" cols="60"> <%=@review.content%> </textarea>


<p><input type="submit" value="Submit"></p>

</form>
</p>
 <a href="/">HOME</a>
