<!DOCTYPE html>
  <html>
  <p><font color="grey">
    <h1><%=@review.book.name %></h1>
    </font>
    <h2>
    <font color="red">
    <p style="font-size:20px">
    <% if flash.has?(:alert) %>
    <%= flash[:alert] %>
    <% end %>
    </p>
    </font>
  </h2>
<h3> EDIT REVIEW</h3>

<p>
<form action="/reviews/<%=@review.id%>/edit" method="POST">
<textarea name="content" rows=
"9" cols="60"> <%=@review.content%> </textarea>


<p><input type="submit" value="Submit"></p>

</form>
</p>
 <a href="/">HOME</a>
