<h2> <%= @book.name %></h2>
<h3> <%=@book.author %></h3>
</p>
<h4> Add a review</h4>
<form action="/reviews/<%=@book.id%>" method="post">
<textarea name="content" rows=
"9" cols="60"></textarea>

<p><input type="submit" value="Add Comment"></p>
 </form>
   <a href="/">Home</a>