<!DOCTYPE html>
  <html>
  <style>
    body {text-align:center;}
  </style>
<body>

<h1> WELCOME MY BOOKSHEILF! </h1>
       <h2> Books  Reviews Application </h2>
  <img src="images/bookshelf.jpg" height="300", width="480"/>
  <br> 
Please <a href="/signup">SIGN UP</a> or <a href="/login">LOG IN</a> to continue.
</body>